<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Arup's Portfolio</h3>
            <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> Please
                wait
                for a while all major projects will be listed soon. Till then keep visiting. Connect with me over live
                chat!
            </p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
            <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
            <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
            <a href="#work"><i class="fas fa-chevron-circle-right"></i> work</a>
            <a href="#experience"><i class="fas fa-chevron-circle-right"></i> experience</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-phone"></i>+91 7029958850</p>
            <p> <i class="fas fa-envelope"></i>cyberboyarup@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>West Bengal, India-722150</p>
            <div class="share">

                <a href="https://www.linkedin.com/in/iamarupmandal" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/arupmandal" class="fab fa-github" target="_blank"></a>
                <a href="mailto:cyberboyarup@gmail.com" class="fas fa-envelope" target="_blank"></a>
                <a href="#" class="fab fa-twitter" target="_blank"></a>
                <a href="https://t.me/tech_arup" class="fab fa-telegram-plane" target="_blank"></a>
            </div>
        </div>
    </div>

    <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a
            href="https://www.linkedin.com/in/iamarupmandal"> Arup Mandal</a></h1>

</section>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "110697160734367");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v13.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!--End of Tawk.to Script-->

<!-- footer section ends -->